@media (max-width: 1024px) {
    .navbar-nav {
        padding: 30px 30px 25px;
    }
    .navbar-nav .nav-item {
        margin: 0px 10px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 15px;
    }
    .logo img {
        max-height: 40px;
    }
    .banner .banner_slider #frmae_slider {
        width: 350px;
    }
    .banner .banner_slider #frmae_slider .item {
        height: 240px;
    }
    .stats_item h3 {
        font-size: 24px;
    }
    .img-wrap-01 img:nth-child(2) {
        width: 100%;
        left: 36px;
    }
    .img-wrap-01 img:nth-child(4) {
        left: 50%;
        width: 100%;
        -webkit-transform: translateX(-50%);
        -ms-transform: translateX(-50%);
        transform: translateX(-50%);
    }
}

@media (max-width: 992px) {
    .header-right {
        display: none !important;
    }
}

@media (max-width: 820px) {
    .navbar-nav {
        -webkit-box-shadow: 0px 5px 10px 0 rgb(0 0 0 / 14%);
        box-shadow: 0px 5px 10px 0 rgb(0 0 0 / 14%);
    }
    .navbar-nav .nav-item:not(:last-child) {
        margin: 0px 10px 10px;
    }
    .navbar-nav .nav-item .nav-link {
        font-size: 16px;
    }
    .banner {
        padding: 120px 0 100px;
    }
    .banner .banner_slider .slider_frame {
        width: 64%;
    }
    .banner h1 {
        font-size: 32px;
    }
    .stats_item {
        padding: 15px 15px;
    }
    .stats_item h3 {
        font-size: 22px;
    }
    .stats_count {
        font-size: 26px;
    }
    .heading-wrap h3.heading-title {
        font-size: 28px;
        line-height: 34px;
    }
    .img-wrap-01 img:nth-child(1) {
        max-width: 150px;
    }
    .img-wrap-01 img:nth-child(2) {
        left: 10px;
    }
    .img-wrap-01 img:nth-child(3) {
        max-width: 90px;
    }
    .parallax-section {
        padding: 60px 0;
    }
    .parallax-img {
        max-width: 250px;
    }
    .banner .banner_slider .left_icon {
        left: 70px;
    }
    .banner .banner_slider .right_icon {
        right: 80px;
    }
}

@media (max-width: 768px) {
    .banner .banner_slider #frmae_slider .item {
        height: 230px;
    }
    .stats_item {
        margin-bottom: 15px;
    }
    .pricing-card {
        margin-bottom: 30px;
        height: auto;
    }
    .form-wrap {
        margin-top: 30px;
    }
    .copyright p {
        text-align: center;
    }
    .social-icons {
        -webkit-box-pack: center;
        -ms-flex-pack: center;
        justify-content: center;
    }
}

@media (max-width: 736px) {
    .banner .banner_slider .slider_frame {
        width: 86%;
    }
    .banner .banner_slider .left_icon {
        left: -30px;
    }
    .banner .banner_slider .right_icon {
        right: -30px;
    }
    .img-wrap-01 img:nth-child(1) {
        top: 0px;
    }
    .img-wrap-01 {
        margin-bottom: 70px;
    }
}

@media (max-width: 667px) {
    .banner h1 {
        font-size: 24px;
        line-height: 36px;
    }
}

@media (max-width: 568px) {
    .banner .banner_slider .slider_frame {
        width: 82%;
    }
    .img-wrap-01 img:nth-child(3) {
        bottom: -70px;
        left: 40px;
    }
}

@media (max-width: 480px) {
    .banner .banner_slider #frmae_slider .item {
        height: 180px;
    }
    .banner .banner_slider #frmae_slider {
        width: 300px;
    }
    #testi_slider .owl-nav button span {
        top: -2px;
    }
    #testi_slider .owl-prev,
    #testi_slider .owl-next {
        width: 30px;
        height: 30px;
        font-size: 30px;
    }
    #testi_slider .owl-next {
        right: 1%, ;
    }
    #testi_slider .owl-prev {
        left: 10px;
    }
    .stats_item h3 {
        font-size: 18px;
    }
}

@media (max-width: 440px) {
    .banner .banner_slider .right_icon {
        right: -50px;
    }
    .banner .banner_slider .left_icon {
        left: -50px;
    }
    .footer-top-shape {
        bottom: -5px;
    }
    .banner .banner_slider .slider_frame {
        width: 92%;
    }
}

@media (max-width: 414px) {
    .banner .banner_slider .slider_frame {
        width: 98%;
    }
}

@media (max-width: 390px) {
    .banner .banner_slider .slider_frame {
        width: 104%;
    }
}

@media (max-width: 375px) {
    .banner .banner_slider .slider_frame {
        width: 108%;
    }
}

@media (max-width: 360px) {
    .banner .banner_slider .slider_frame {
        width: 112%;
    }
}

@media (max-width: 320px) {
    .banner .banner_slider #frmae_slider::before {
        background: transparent;
    }
    .banner .banner_slider #frmae_slider .item {
        max-width: 88%;
        margin: auto;
        top: 10px;
    }
}